[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "mongoose"]
	path = mongoose
	url = https://github.com/cesanta/mongoose
[submodule "date"]
	path = date
	url = https://github.com/HowardHinnant/date
[submodule "libevent"]
	path = libevent
	url = https://github.com/libevent/libevent
[submodule "evpp"]
	path = evpp
	url = https://github.com/f4bsch/evpp
[submodule "farmhash"]
	path = farmhash
	url = https://github.com/google/farmhash
[submodule "cpp-base64"]
	path = cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
